---
import Layout from "@layouts/Layout.astro"

const slug = Astro.params.slug || "index"
let json: any = { title: "Failed to load page", description: "Failed to load page", html: "", footer: "0 views<br>" }
const fourohfour = `
<div class="markdown" id="pagecontent">
    <a name="notfound" class="anchor_offset"></a>
    <h1>Not Found<a class="anchor" href="#notfound"><i class="mdi mdi-link-variant"></i></a></h1>
    <p>This page is missing.</p>
</div>
`

try {
    // This slug endpoint shouldn't ever handle a .json file (unless it's not present)
    // This happens if a link in a page isn't mirrored
    if (slug.endsWith(".json")) {
        json.title = "Page Not Found"
        json.description = "Page Not Found"
        json.html = fourohfour
        return new Response(JSON.stringify(json), { status: 404 })
    }

    const resource = `${Astro.url.protocol}//${Astro.url.host}/content/${slug.toLowerCase()}.json`
    const response = await fetch(resource)
    if (response.status === 404) {
        // Otherwise, we return a formatted 404 page. This happens if someone visits a missing page directly.
        // TODO: Can we just not catch this case and let the 404 response handle it?
        json.title = "Page Not Found"
        json.description = "Page Not Found"
        json.html = fourohfour
    } else {
        json = await response.json()
    }
} catch (e) {
    json.html = "Failed to load page <b>" + slug + "</b>" + (e ? "<p>" + e.toString() + "</p>" : "")
}

const images = {
    server: "/states/server.png",
    client: "/states/client.png",
    menu: "/states/menu.png",

    "server-client": "/states/server-client.png",
    "client-menu": "/states/client-menu.png",
    "server-client-menu": "/states/server-client-menu.png",

    "default": "/garry/822e60dc-c931-43e4-800f-cbe010b3d4cc.webp"
}

const getOpenGraphImage = (tags: string[]) => {
    const hasServer = tags.includes("realm-server")
    const hasClient = tags.includes("realm-client")
    const hasMenu = tags.includes("realm-menu")

    if (hasServer && hasClient && hasMenu) return images["server-client-menu"]
    if (hasServer && hasClient) return images["server-client"]
    if (hasClient && hasMenu) return images["client-menu"]

    if (hasServer) return images["server"]
    if (hasClient) return images["client"]
    if (hasMenu) return images["menu"]

    return images["default"]
}

const tags = json.tags
const tagArray = tags ? tags.split(" ").map((tag: string) => tag.trim()) : []
const ogImage = getOpenGraphImage(tagArray)
const ogImageUrl = `${Astro.url.protocol}//${Astro.url.host}${ogImage}`

const footer = json.footer
const footerInfo = footer.split("<br>")
const views = footerInfo[0] || "0 views"
const updated = footerInfo[1] || ""
---

<Layout title={json.title} image={ogImageUrl} description={json.description} views={views} updated={updated}>
    <Fragment set:html={json.html} />
</Layout>
