---
import Layout from "@layouts/Layout.astro";

async function getSearchResults(query: string): Promise<string[][]> {
    const url = `${Astro.url.protocol}//${Astro.url.host}/websearch.json?query=${query}`;

    const response = await fetch(url);
    const data: string[][] = await response.json();
    return data;
}

const query = Astro.url.searchParams.get("query") || "";
const response: string[][] = await getSearchResults(query)

const formatted = response.map((result) => {
    const href = result[0]
    const context = result[1]
    const index = context.toLowerCase().indexOf(query.toLowerCase())

    const pre = context.substring(0, index)
    const match = context.substring(index, index + query.length)
    const post = context.substring(index + query.length)

    return {
        page: href,
        pre: pre,
        match: match,
        post: post
    }
})

---

<Layout title="Search Results" description="Garry's Mod Wiki" views="" updated="">
    <h2>Searching for: "{query}"</h2>
    {formatted.map((result) => (
        <div class="section">
            <h3> <a href=`/${result.page}`>{result.page}</a> </h3>
            <div> {result.pre} <span class="highlight">{result.match}</span> {result.post} </div>
        </div>
    ))}
</Layout>
